Package: com.michaelmelita1.campad12
Version: 0.0.1
Architecture: iphoneos-arm
Maintainer: Michael Melita
Depends: mobilesubstrate, firmware (<= 12.5), cy+model.ipad (= 4.1) | cy+model.ipad (= 4.2) | cy+model.ipad (= 4.3) | cy+model.ipad (= 4.4)| cy+model.ipad (= 4.5) | cy+model.ipad (= 4.6)
Conflicts: com.michaelmelita1.iris12
Section: Tweaks
Description: Enable Camera Features on iOS 12 iPads
Author: Michael Melita
Depiction: https://michaelmelita1.github.io/depictions/?p=com.michaelmelita1.campad12
Name: CamPad12
Sileodepiction: https://michaelmelita1.github.io/sileodepictions/com.michaelmelita1.campad12/info.json
